snippet newstruct "Golang constructor"
// New${0:Struct} creates a new ${0:Struct} instance.
func New${0:Struct}(${1:value ...any}) (*${0:Struct}, ${2:error}) {
	return ${0:Struct}{}, nil
}
endsnippet
